.Matched-Wrapper {
  position: relative;
  margin: 5px 50px;
  max-width: 600px;
  margin: auto;
}

.Matched-Holder {
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #ff8a84dc;
  box-shadow: 0 0.3em 1em #000;
}

.Matched-Information {
  background-color: white;
  border-radius: 35px;
  height: 500px;
  width: 400px;
  margin: 0 auto;
}

.Matched-CardHolderWrapper {
  top: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.Matched-Header {
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  color: aliceblue;
  border-bottom: 1px solid aliceblue;
}

.Matched-Model-Holder {
  position: relative;
  padding: 10px 30px;
  border-radius: 25px;
  background-color: #ff8a84dc;
  box-shadow: 0 0.3em 1em #000;
}

@media (max-width: 600px) {
  .Matched-Wrapper {
    padding: 10px 20px;
  }

  .Matched-Holder {
    max-height: 650px;
    padding: 10px 25px;
    padding-bottom: 30px;
  }
}
