.Toolbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ff8a84;
  height: 60px;
  z-index: 200;
}

.Toolbar-NavLinks {
  color: white;
  padding-left: 10px;
  text-decoration: none;
}

.Toolbar-NavLinks i {
    padding: 0 5px;
    transform: rotateY(180deg)
}
 
.Toolbar-Navigation {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 1rem;
}

.Toolbar-Spacer {
  flex: 1;
}

.Toolbar-Logo {
  color: aliceblue;
  padding: 10px;
  text-decoration: none;
  font-size: 2rem;
  padding: 5px;
}

@media (max-width: 599px) {
  .DesktopOnly {
    display: none;
  }
}
