.Match-Wrapper {
  position: relative;
  margin: 5px 50px;
  max-width: 600px;
  margin: auto;

  /* position: relative;
  padding: 10px;
  max-height: 550px; */
}

.Match-Form {
  position: relative;
  padding: 10px 50px;
  padding-bottom: 30px;
  border-radius: 25px;
  background-color: #ff8a84dc;
  box-shadow: 0 0.3em 1em #000;
}

.Match-Header {
  margin: 0;
  padding: 10px;
  color: aliceblue;
  border-bottom: 1px solid aliceblue;
}

.Matching-Button-ViewChange {
  position: absolute;
  left: -25px;
  top: 95%;
  z-index: 110;
  border-radius: 25px;
  height: 50px;
  padding: 10px;
  width: 50px;
  cursor: pointer;
  background-color: white;
  color: #ff8a84;
  border: 1px white;
  outline: none;
}

.Match-Filter-Button {
  font-weight: bolder;
  font-size: medium;
  color: #ff8a84dc;
  background-color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.Ontop {
  position: absolute;
  width: 100%;
  top: 0px;
  transition: transform 1s ease-in-out;
  transform: translateX(0);
  transform-origin: bottom left;
}

.Match-CardHolderWrapper {
  position: relative;
  top: 0px;
}

.Ontop.Open {
  transform: rotate(-100deg);
  margin-left: auto;
  z-index: 100;
}

.Match-SelectBar {
  margin: 20px;
}
.Match-SelectBar div {
  border-radius: 35px;
}

.Matching-Apply {
  display: inline;
  border: 1px #ff8a84;
  font: inherit;
  font-weight: bold;
  color: white;
  background-color: #ff8a84;
  padding: 15px;
  margin: 20px;
  border-radius: 25px;
  cursor: pointer;
}

.Match-Button {
  display: inline;
  border: 1px #ff8a84;
  font: inherit;
  color: white;
  background-color: #ff8a84;
  padding: 10px;
  margin: 20px;
  min-width: 100px;
  min-height: 50px;
  border-radius: 25px;
  box-shadow: 0 0.3em 1em #000;
  cursor: pointer;
}

.Match-Button:disabled {
  background-color: grey;
}

@media (max-width: 600px) {
  .Match-Wrapper {
    padding: 5px;
  }

  .Match-Form {
    max-height: 650px;
    padding: 10px 25px;
    padding-bottom: 30px;
  }

  .Matching-Button-ViewChange {
    top: 90%;
  }
}

.slide-exit.slide-exit-active {
  opacity: 0;
  transform: scale(1) translateX(100%);
  z-index: -1;
  transition: opacity 200ms linear, transform 300ms ease-out;
}

.like-exit.like-exit-active {
  opacity: 0;
  transform: scale(1) translateY(-100%);
  transition: opacity 300ms linear 100ms, transform 300ms ease-in-out;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: scale(1) translateY(0);
  transition: opacity 300ms linear 100ms, transform 300ms ease-in-out;
}
