.Match-Wrapper {
  text-align: center;
  width: 80%;
  margin: auto;
}

.Button {
  display: inline-block;
  background-color: transparent;
 
 
  z-index: 111;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px 10px;
  font-weight: bold;
}

.Form {
  margin: 20px auto;
  width: 80%;
  display: block;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #FF8A84;

}

.UserName {
  display: block;
}

.SelectBar {
  display: block;
  margin: 15px auto;
  width: 80%;
}

 /* .slide-enter {
  opacity: 1;
  background-color: green;
  transform: scale(0) translateY(0px);
  transition: opacity 1s linear 100ms, transform 300ms ease-out;
}

.slide-enter.slide-enter-active {
  opacity: 1;
  background-color: blue;
  transform: scale(1) translateY();
  transition: opacity 300ms linear 100ms, transform 300ms ease-in-out;
} */

/* .slide-exit {
  opacity: 0;
  transform: scale(1) translateX(150%);
  transition: opacity 300ms linear 100ms, transform 300ms ease-in-out;
}  */

.slide-exit.slide-exit-active {
  opacity: 0;
  transform: scale(1) translateX(100%) ;
  z-index: -1;
  transition: opacity 200ms linear, transform 100ms ease-out;
}

/* .slide-exit-done {
  opacity: 1;
} */

.like-exit.like-exit-active {
  opacity: 0;
  transform: scale(1) translateY(-100%);
  transition: opacity 300ms linear 100ms, transform 300ms ease-in-out;
} 

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: scale(1) translateY(0);
  transition: opacity 300ms linear 100ms, transform 300ms ease-in-out;
} 

