.Match-Wrapper {
  margin: auto;
  max-width: 600px;
}

.Match-Form {
  border: 1px solid #eee;
  padding: 0 50px;
  border-radius: 25px;
  background-color: #ff8a84b0;
  box-shadow: 5px 7px rgba(221, 100, 100, 0.185);
}

.Match-Header {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.Match-SelectBar {
  z-index: 1;
}

.Match-Button {
  display: inline;
  border: 1px #ff8a84;
  font: inherit;
  background-color: #ff8a84;
  padding: 10px;
  margin: 10px;
  min-width: 100px;
  min-height: 50px;
  border-radius: 25px;
  box-shadow: 5px 7px rgba(221, 100, 100, 0.185);
}

@media (max-width: 600px) {
  .Match-Wrapper {
    padding: 5px;
  }

  .Match-Form {
    margin: auto;
    padding: 5px 20px;
    min-height: 80vh;
    max-width: 400px;
    max-height: 650px;
  }
}

.slide-exit.slide-exit-active {
  opacity: 0;
  transform: scale(1) translateX(100%);
  z-index: -1;
  transition: opacity 200ms linear, transform 100ms ease-out;
}

/* .slide-exit-done {
  opacity: 1;
} */

.like-exit.like-exit-active {
  opacity: 0;
  transform: scale(1) translateY(-100%);
  transition: opacity 300ms linear 100ms, transform 300ms ease-in-out;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transform: scale(1) translateY(0);
  transition: opacity 300ms linear 100ms, transform 300ms ease-in-out;
}
