.Chat {
  position: relative;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 30px;
  width: 60%;
  height: 67vh;
}

.Chat-Log {
  border: 1px solid #ccc;
  overflow: auto;
  border-radius: 25px;
  padding: 10px;
  margin: 20px auto;
  left: 0;
  width: 85%;
  height: 50vh;
}

.Chat-Input {
  position: absolute;
  margin: auto;
  width: 100%;
  left: 0;
}

.Input {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 25px 0px 0px 25px;
  bottom: 0px;
  padding: 5px;
  height: 5vh;
}

.Submit {
  border: 1px solid #ccc;
  border-radius: 0px 25px 25px 0px;
  height: 6.7vh;
  padding: 5px;
}

.Sender {
  background-color: #bbdefb;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 10px;
  border-radius: 4px;
  max-width: 40%;
  word-wrap: break-word;
}

.Reciever {
  background-color: #bbfbe2;
  margin-bottom: 0px;
  padding: 10px;
  border-radius: 4px;
  max-width: 40%;
  word-wrap: break-word;
}

.Message-Date-Sender {
  margin-left: auto;
  font-size: 10px;
  margin-top: 0px;
  text-align: right;
  border-radius: 4px;
  max-width: 40%;
  right: 0;
}

.Message-Date-Reciever {
  
  font-size: 10px;
  margin-top: 0px;
  text-align: left;
  border-radius: 4px;
  max-width: 40%;
  right: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: ;
}

/* Track */
::-webkit-scrollbar-track {
  background:transparent;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 20px; 
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 20px;
}
