.SideDrawer {
  height: 100%;
  background: white;
  box-shadow: 2px 0px 5px rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 450;
transition: transform 100ms ease-in-out;
  transform: translateX(-100%);
  min-width: 200px;
}

.SideDrawer.Open {
  transform: translateX(0);
}

.SideDrawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.SideDrawer li {
  padding: 10px;
  margin: 10px;
}

.SideDrawer a {
  text-decoration: none;
  color: #ff8a84;
  padding: 0;
}

/* @media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
} */

/* .SideDrawer-Open {
  transform: translateX(0);
}

.SideDrawer-Close {
  transform: translateX(-100%);
} */

.SideDrawer-Logo {
  height: 11%;
  margin-bottom: 32px;
}
