.NavigationItems {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.NavLinks {
  color: aliceblue;
  padding: 13px 10px;
  margin: 0 5px;
  text-decoration: none;
}

.NavLinks i {
  padding-left: 5px;
}

.NavLinks.active {
  border-bottom: 5px solid rgb(91, 202, 236);
}

@media (max-width: 599px) {
  .NavigationItems {
    display: none;
  }
}
