.NavigationItems {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* position: fixed;
  right: 0px */
}

.NavLinks {
  color: aliceblue;
  padding: 10px;
  text-decoration: none;
}

.NavLinks i {
  padding: 10px;
}

@media (max-width: 599px) {
  .NavigationItems {
    display: none;
  }
}

/* .NavigationItems {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #ff8a84;
  border: 1px #eee;
  border-radius: 0px 0px 25px 25px;
  z-index: 100;
}

.li {
  float: right ;
}

.NavLinks {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.WrappingSpan {
  text-decoration: none;

} */

/* .NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}

@media (min-width: 500px) {
  .NavigationItems {
      flex-flow: row;
  }
} */
