.UserProfile-Wrapper {
  position: relative;
  margin: 5px 50px;
  max-width: 600px;
  margin: auto;
}

.UserProfile-Holder {
  position: relative;
  padding: 10px 50px;
  padding-bottom: 30px;
  border-radius: 25px;
  background-color: #ff8a84dc;
  box-shadow: 0 0.3em 1em #000;
}

.UserProfile-Header {
  margin: 0;
  padding: 10px;
  color: aliceblue;
  border-bottom: 1px solid aliceblue;
}

.UserProfile-Button-Switch {
  /* font-weight: bolder;
  color: white;
  background-color: #ff8a84dc;
  padding: 10px;
  margin: 15px;
  border-radius: 25px;
  border: none;
  cursor: pointer; */

  font-size: medium;
  display: inline;
  border: 1px #ff8a84;
  font: inherit;
  color: white;
  background-color: #ff8a84;
  padding: 10px;
  margin: 20px;
  min-width: 100px;
  min-height: 50px;
  border-radius: 25px;
  box-shadow: 0 0.3em 1em #000;
  cursor: pointer;
}

.UserProfile-CardHolder-Wrapper {
  position: relative;
  top: 0px;
  margin-top: 20px;
}

.UserProfile-Card-OnTop {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  transition: transform 1s ease-in-out;
  transform: translateX(0);
  transform-origin: bottom left;
}

.UserProfile-Card-OnTop.Open {
  transform: rotate(-100deg);
  margin-left: auto;
  z-index: 100;
}

.UserProfile-CardHolder {
  box-shadow: none;
}

.UserProfile-Form {
  padding: 5px 50px;
  border-radius: 25px;
  background-color: white;
  height: 500px;
  box-shadow: 0 0.3em 1em #000;
}

.UserProfile-Select {
  padding: 10px 0;
  width: 100%;
}

.UserProfile-Select div {
  border-radius: 25px;
}

.UserProfile-Button-Edit {
  position: absolute;
  left: -25px;
  top: 95%;
  z-index: 110;
  border-radius: 25px;
  height: 50px;
  padding: 10px;
  width: 50px;
  cursor: pointer;
  background-color: white;
  color: #ff8a84;
  border: 1px white;
  outline: none;
}

.UserProfile-Form button:disabled {
  background-color: rgb(199, 199, 199);
}

.UserProfile-Button-Submit {
  color: aliceblue;
  display: inline;
  border: 1px #84ff94;
  font: inherit;
  background-color: #84ff94;
  padding: 10px;
  margin: 10px auto;
  min-width: 120px;
  border-radius: 25px;
}

/* .UserProfile-CardHolder.Open {
  transform: rotate(-100deg);
  margin-left: auto;
  z-index: 100;
} */

@media (max-width: 600px) {
  .UserProfile-Wrapper {
    min-height: 450px;
    padding: 10px 20px;
  }

  .UserProfile-Form {
    height: 450px;
  }

  .UserProfile-Holder {
    padding: 25px 10%;
  }

  .UserProfile-CardHolder {
    height: 100%;
  }
}
