.Auth {
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 25px;
  max-width: 600px;
}

.Auth-Form {
  padding: 0 5vh;
  max-width: 400px;
  margin: auto;
}

.Auth-Input-Invalid {
  outline: none;
  border: 1px solid #ccc;
  background-color: rgb(230, 91, 91);
  margin: 10px 0;
  font: inherit;
  text-align: center;
  padding: 6px 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
}

.Auth-Input-Valid {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  margin: 10px 0;
  font: inherit;
  text-align: center;
  padding: 6px 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 25px;
}

.Auth-Header {
  margin: 10px 20%;
  padding: 10px;

  border-bottom: 1px solid black;
}

.Auth-Button {
  display: inline;
  border: 1px #ff8a84;
  font: inherit;
  background-color: #ff8a84;
  padding: 10px;
  margin:  10px;
  min-width: 150px;
  border-radius: 25px;
}

.Auth-Button-Confirm {
  display: inline;
  border: 1px #84ff94;
  font: inherit;
  background-color: #84ff94;
  padding: 10px;
  margin:  10px;
  min-width: 150px;
  border-radius: 25px;
}

.Auth-Button-Confirm i {
  padding-left: 10px;
}

@media (max-width: 600px) {
  .Auth {
    margin: 10px auto;
    padding: 5px;
  }

  .Auth-Header {
    margin: 10px 20%;
    border-bottom: 1px solid black;
  }

  .Auth-Form {
    padding: 0 5px
  }
}

